<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Inventario</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="/css/estilo_h.css">
</head>
<body>

<div class="wrapper hover_collapse">

    <%- include('../include/topnavbar', {token: token}) %>

    <%- include('../include/sidebar', {token: token}) %>

    <div class="main_container">
        <h1>Bienes</h1>
        <div class="datagrid">
            <table class = "table" border=1>
                <thead>
                    <th scope="row">Fecha</th>
                    <th scope="row">Id</th>
                    <th scope="row">Nombre</th>
                    <th scope="row">Cantidad</th>
                    <th scope="row">Ubicación</th>
                    <th scope="row">Descripción</th>
                    <th scope="row">Creador</th>
                    <th scope="row">Acciones</th>
                </thead>
                <tbody>
                <% if (status!=="error") {
                    for (let i = 0; i < listaDeBienes.length; i++){
                %>
                    <tr>
                        <td scope="row"><%= new Date(listaDeBienes[i].fecharegistro).getDate() + "/" + new Date(listaDeBienes[i].fecharegistro).getMonth() + "/" + new Date(listaDeBienes[i].fecharegistro).getFullYear() %></td>
                        <td scope="row"><%= listaDeBienes[i].idbien %></td>
                        <td scope="row"><%= listaDeBienes[i].nombre %></td>
                        <td scope="row"><%= listaDeBienes[i].cantidad %></td>
                        <td scope="row"><%= listaDeBienes[i].ubicacion %></td>
                        <td scope="row"><%= listaDeBienes[i].descripcion %></td>
                        <td scope="row"><%= listaDeBienes[i].usuario %></td>
                        <td scope="row">
                            <%if (token.tipousuario){%>
                                <a href="/panel/editarbien/<%= listaDeBienes[i].idbien %>">EDITAR</a>
                                <a href="/panel/eliminarbien/<%= listaDeBienes[i].idbien %>">ELIMINAR</a>
                            <%}else{%>
                                SOLO LECTURA
                            <%}%>
                        </td>
                    </tr>
                <%}}%>

                </tbody>
            </table>
        </div>
    </div>
    </div>

    <script src="/js/script_h.js"></script>
</body>
</html>