<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Inventario</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/estilo_h.css">
    <link rel="stylesheet" type="text/css" href="/css/estilo_r.css">
</head>
<body>

<div class="wrapper hover_collapse">

    <%- include('../include/topnavbar', {token: token}) %>

    <%- include('../include/sidebar') %>

<div class="main_container">
    <form method="post" action="/panel/registrarbien" class="form">
        <h1>Registrar Bien</h1>
        <h4 style="background-color: <%= status==='ok'? "yelllow":"red" %>"><%= msg %></h4>
        <div class="grupo">
            <input type="text" name="nombre" id="Nombre" required><span class="barra"></span>
            <label for="">Nombre</label>
        </div>
        <div class="grupo">
            <input type="text" name="cantidad" id="Categoria" required><span class="barra"></span>
            <label for="">Cantidad</label>
        </div>
        <div class="grupo">
            <input type="text" name="ubicacion" id="Estado" required><span class="barra"></span>
            <label for="">Ubicacion</label>
        </div>
        <div class="grupo">
            <input type="text" name="descripcion" id="Descripcion" required><span class="barra"></span>
            <label for="">Descripcion</label>
        </div>
        <div class="grupo">
        <br><br><label for="">Tipo de Bien</label><select name="idtipo" id="idtipo">
            <select name="idtipo" id="idtipo">
                <option value="0">SELECCIONE UNO</option>
                <% for(let i = 0; i < tipoDeBienes.length; i++){ %>
                <option value="<%= tipoDeBienes[i].idtipobien %>"><%= tipoDeBienes[i].nombre %></option>
                <% } %>
            </select></span>
            
        </div>
        <div class="register">
            <p>
                <button type="submit">Registrar
                    <i class="far fa-check-square"></i>
                </button>
            </p>
        </div>
    </form>
</div>

</div>

<script src="/js/script_h.js"></script>
</body>
</html>
